CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cetron_ct3003=y
CONFIG_TARGET_BOARD="mediatek"
CONFIG_TARGET_SUBTARGET="filogic"
CONFIG_TARGET_PROFILE="DEVICE_cetron_ct3003"

# Extra packages
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y

# Custom Apps Synced from rax3000m
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_WOLFSSL_HAS_OPENVPN=y
CONFIG_PACKAGE_luci-app-acme=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-openvpn=y
CONFIG_PACKAGE_luci-app-openvpn-server=y
CONFIG_PACKAGE_luci-app-nikki=y
CONFIG_PACKAGE_fakehttp=y
CONFIG_PACKAGE_luci-app-fakehttp=y
CONFIG_PACKAGE_fakesip=y
CONFIG_PACKAGE_luci-app-fakesip=y
CONFIG_PACKAGE_rtp2httpd=y
CONFIG_PACKAGE_luci-app-rtp2httpd=y
CONFIG_PACKAGE_luci-i18n-rtp2httpd-zh-cn=y
CONFIG_PACKAGE_luci-app-upnp-mtk-adjust=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-i18n-ddns-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-upnp-mtk-adjust-zh-cn=y
CONFIG_PACKAGE_miniupnpd-mtk-adjust-nftables=y
CONFIG_PACKAGE_luci-app-natmapt=y
CONFIG_PACKAGE_natmapt=y
CONFIG_PACKAGE_ddns-scripts=y
CONFIG_PACKAGE_ddns-scripts-cloudflare=y
CONFIG_PACKAGE_ddns-scripts-services=y
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_SING_BOX_BUILD_ACME=y
CONFIG_SING_BOX_BUILD_WIREGUARD=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_jq=y
#CONFIG_PACKAGE_luci-app-tailscale-community=y
#CONFIG_PACKAGE_luci-i18n-tailscale-community-zh-cn=y
#CONFIG_PACKAGE_tailscale=y
